<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>yFiles WPF Graph Viewer Demos</title>
  <link rel="stylesheet" type="text/css" href="../../../doc/documentation-style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<body>
<header>
  <div class="logo"></div>
  <div class="title">
    <a href="../../../README.html">yFiles WPF</a>
    <span class="angle-right"></span>
    Graph Viewer Demos
  </div>
</header>
<div class="content">

    <h1>
        Graph Viewer Demos</h1>
    <p>
        
      These source code samples demonstrate basic concepts of how to display and
      manipulate graphs with the <code>GraphControl</code> component of yFiles WPF, as well as general concepts
      related to the graph model and its visualization.
    </p>
    <p>
        You will find the following programming samples in this package:
    </p>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
        
       <tr valign="top">
         <td><b>Bridges<b></td>
         <td>
      This demo shows how to create bridges when edges cross an obstacle.
    </td>
       </tr>
       <tr valign="top">
         <td><b>Clipboard<b></td>
         <td>
      This demo shows how to use the <code>GraphClipboard</code> for Copy/Paste functionality.
    </td>
       </tr>
       <tr valign="top">
         <td><b>EdgeToEdge<b></td>
         <td>
      Simple demo of edge to edge connections.
    </td>
       </tr>
       <tr valign="top">
         <td><b>Events<b></td>
         <td>
      This demo shows how to register to the various events provided by the graph, the input modes, and the GraphControl.
    </td>
       </tr>
       <tr valign="top">
         <td><b>Folding<b></td>
         <td>
      This demo shows how to use the <code>FoldingManager</code> class for Collapse/Expand functionality.
    </td>
       </tr>
       <tr valign="top">
         <td><b>GraphMLCompat<b></td>
         <td>
      This demo shows how to import GraphML files written with yFiles WPF 2.5.
    </td>
       </tr>
       <tr valign="top">
         <td><b>GraphMLSimple<b></td>
         <td>
      Shows how to read and write a yFiles WPF graph from/to GraphML.
    </td>
       </tr>
       <tr valign="top">
         <td><b>GraphViewer<b></td>
         <td>
      This demo shows how to display a graph with the Viewer component of yFiles WPF.
    </td>
       </tr>
       <tr valign="top">
         <td><b>ImageExport<b></td>
         <td>
      This demo shows how to export a graph or part of it to different
      pixel and vector format images.
    </td>
       </tr>
       <tr valign="top">
         <td><b>LargeGraphs<b></td>
         <td>
      Demonstrates how to display large graphs with high performance.
    </td>
       </tr>
       <tr valign="top">
         <td><b>Printing<b></td>
         <td>
      This demo shows how to use and customize printing functionality.
    </td>
       </tr>
       <tr valign="top">
         <td><b>RenderPolicies<b></td>
         <td>
      This demo shows the effect of different render policies on the z-order of nodes, edges, labels and ports.
    </td>
       </tr>
       <tr valign="top">
         <td><b>SimpleEditor<b></td>
         <td>
      Simple demo of a graph editor.
    </td>
       </tr>
       <tr valign="top">
         <td><b>UIAutomation<b></td>
         <td>
       This demo shows how to use yFiles' support for UI Automation.
    </td>
       </tr>
       <tr valign="top">
         <td><b>Undo<b></td>
         <td>
      This demo presents Undo/Redo functionality available with yFiles WPF.
    </td>
       </tr>
       <tr valign="top">
         <td><b>ZOrder<b></td>
         <td>
      This demo customizes editing gestures to keep the z-order of nodes consistent.
    </td>
       </tr>
    </table>
    <h2>
        Running the Demos</h2>
    <h3>
        With Visual Studio</h3>
    <ul>
        <li>
            To load all samples into Visual Studio you can simply open the solution file yFiles Demos.sln.
        </li>
        <li>
            To load a single sample into Visual Studio you can open the project file (.csproj)
            in the sample's directory.
        </li>
    </ul>

</div>
<footer>
  <div class="footer-block">
    <h4>Contents</h4>
    <a href="../../../README.html">Welcome Page</a><br>
    <a href="../../../doc/api/index.html">API Documentation</a><br>
    <a href="../../../doc/api/index.html#/dguide/getting_started">Getting Started</a><br>
    <a href="../../../doc/readme/legal/SOFTWARE_LICENSE_AGREEMENT.html">License Agreement</a><br>
    <a href="../../../doc/readme/support.html">Help and Support</a>
  </div>
  <div class="footer-block">
    <h4>Contact</h4>
    yWorks GmbH<br>
    Vor dem Kreuzberg 28<br>
    72070 T&uuml;bingen<br>
    Germany<br>
    Phone: <a href="tel:+497071979050">+49 7071 979050</a><br>
    Email: <a href="mailto:contact@yworks.com">contact@yworks.com</a><br>
  </div>
  <div class="footer-block">
    <h4>Follow Us</h4>
    <div class="social">
      <a href="https://www.yworks.com/products/yfileswpf" target="_blank" class="web">
        Homepage
      </a>
      <a href="https://www.yworks.com/newsfeed" target="_blank" class="rss">
        RSS-Feed
      </a>
      <a href="https://twitter.com/yworks" target="_blank" class="tw">
        Twitter
      </a>
      <a href="http://www.youtube.com/user/yWorksTube" target="_blank" class="yt">
        YouTube
      </a>
    </div>
    <span class="copyright">COPYRIGHT &#x00A9; 2020 yWorks</span><br>
    <a href="https://www.yworks.com/company/legal/imprint">Imprint</a>
    | <a href="https://www.yworks.com/company/legal/terms-of-use">Terms of Use</a>
    | <a href="https://www.yworks.com/company/legal/privacy">Privacy Policy</a>
  </div>
  <div class="footer-block logo">
  </div>
</footer>
</body>
</html>
